<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <title>Document</title>
</head>
<body>
   <form action="/add" method="post" >
        <input type="text" name="firm" placeholder="Firm Name" class="f">
        <input type="text" name="accno" placeholder="Acc No" class="f">
        <input type="text" name="bank" placeholder="Bank" class="f">
        <input type="text" name="branch" placeholder="Branch" class="f">
        <input type="text" name="ifsc" placeholder="IFSC" class="f">
        <button type="submit" class="f">Submit</button>
    </form>

    
</body>
</html>