<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <img src="img2.jpg" style="width:100%;">
        <div class="left-words">Fifty Eight Thousand Eight Hundred Thirty Three</div>
        <div class="left-total">50000</div>
        <div class="left-bank">Oriental Bank of Commerce</div>
        <div class="left-branch">Chandni Chowk</div>
        <div class="left-acc">1234567891234567</div>
        <div class="left-ifsc">SBIN001122445</div>
        <div class="centre-name">Kapoor Chand Ajay Kumar Jain</div>
        <div class="centre-acc">123456789</div>
        <div class="centre-acc2">1234567891234567</div>
        <div class="mid-bank">Oriental Bank of Commerce</div>
        <div class="mid-branch">Chandni Chowk</div>
        <div class="mid-ifsc">SBIN001122445</div>
        <div class="topright-total">58833/-</div>
        <div class="box-amount">58833/-</div>
        <div class="box-total">58833/-</div>
        <div class="box-com">0/-</div>
        <div class="bottom-total">58833/-</div>
        <div class="rs-words">Fifty Eight Thousand Eight Hundred Thirty Three</div>        
    </div>
</body>

</html>